.filter{
    min-height: 90.5vh;
    background-color: rgb(84, 78, 71);
    color: white;
}
.filters>span{
    margin: 20px;
    padding: 5px;
    color:white
}
.buttonSpan{
    margin-top:20px;
}
.title{
    font-size: 26px;
    padding: 10px 25px;
    color: white;
}

.bg-website{
    background-color: rgb(84, 78, 71);
}

.filter_button{
    margin: 15px;
}
.cursor-pointer{
    cursor: pointer;
}