.mainDiv{
   /* display: flex; */

}
.totalDiv{
    /* width: 30%; */
    background-color:rgb(134, 122, 122);
    color: white;
    padding: 20px;
    /* min-height: 90vh; */
  
}
.cartDiv{
    /* width: 70%; */
    /* min-height: 90vh; */
    
}
 @media (min-width:992px){
    .totalDiv{
    min-height: 90vh;
    }
 }