.homeContainer{
  display: flex;
 flex-direction: row;
 position: relative;
}
.id{
  width: 100%;
}
@media screen and (max-width:800px) {
  .homeRow{
    width: 60%;
    margin-right: -50px;
  }
  .id{
    width: 30%;
  }
}